@model Vapers_Club.Models.ViewModels.cEditDevolucion
@{
    ViewBag.Title = "EditCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Devolucion</h2>
<br />
<br />

@if (ViewBag.ValorMensaje == 1)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Mensaje</h2>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">@ViewBag.MensajeProceso</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (ViewBag.ValorMensaje == 0)
    {
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mensaje</h4>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-danger">@ViewBag.MensajeProceso</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    }
}
@using (Html.BeginForm("EditCliente", "Devoluciones", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <input type="submit" class="btn btn-success btn-block btn-lg" value="Editar devolucion" />
            <br />
            <input type="button" value="Volver" class="btn btn-primary btn-block btn-lg" onclick="document.location.href='@Url.Content("~/Agenda/mantAgenda")'" style="background-color: #00ADA7; color: #ffffff" />
        </div>
        <div class="col-md-8">
            @Html.HiddenFor(u => u.id)
            @Html.LabelFor(u => u.cliente, "Cliente")
            @Html.DropDownListFor(u => u.cliente,
                new SelectList(ViewBag.Clientes, "Value", "Text", "Text"),
                "Seleccione un cliente",
                new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.cliente, null, new { @class = "text-danger-color" })
            <br /><br />
            @Html.LabelFor(u => u.razon)
            @Html.TextBoxFor(u => u.razon, new { @class = "form-control" })
            @Html.ValidationMessageFor(u => u.razon, null, new { @class = "text-danger-color" })
            <br /><br />
        </div>
    </div>
}
@section scripts{
    <script type="text/javascript">
        $('#myModal').modal('show');
    </script>
}