@model List<Vapers_Club.Models.ViewModels.cListaDevolucion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Devoluciones</h2>
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <input type="button" class="btn btn-primary btn-block btn-lg" onclick="document.location.href='@Url.Content("~/Devoluciones/CreateCliente")'" value="Devolucion Cliente" /><br /><br />
        <input type="button" class="btn btn-primary btn-block btn-lg" onclick="document.location.href='@Url.Content("~/Devoluciones/CreateProveedor")'" value="Devolucion Proveedor" />
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre del Cliente</th>
                    <th>Apellidos del Cliente</th>
                    <th>Nombre del Proveedor</th>
                    <th>Razon</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var fila in Model)
                {
                    <tr>
                        <td>@fila.id</td>
                        @if (fila.idc == 0)
                        {
                            <td>No aplica</td>
                            <td>No aplica</td>
                        }
                        else
                        {
                            <td>@fila.ncliente</td>
                            <td>@fila.apellidos</td>
                            <td>No aplica</td>
                            <td>@fila.razon</td>
                            <td><input type="button" value="Consultar" class="btn btn-success" onclick="document.location.href='@Url.Content("~/Devoluciones/DetailsCliente/"+fila.id)'" /></td>
                            <td><input type="button" value="Editar" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Devoluciones/EditCliente/"+fila.id)'" /></td>
                        }
                        @if (fila.idp != 0)
                        {
                            <td>@fila.nproveedor</td>
                            <td>@fila.razon</td>
                            <td><input type="button" value="Consultar" class="btn btn-success" onclick="document.location.href='@Url.Content("~/Devoluciones/DetailsProveedor/"+fila.id)'" /></td>
                            <td><input type="button" value="Editar" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Devoluciones/EditProveedor/"+fila.id)'" /></td>
                        }
                        <td><input type="button" value="Eliminar" class="btn btn-danger" onclick="document.location.href='@Url.Content("~/Devoluciones/Delete/"+fila.id)'" /></td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="button" value="Menu" class="btn btn-primary" style="background-color: #00ADA7" onclick="document.location.href='@Url.Content("~/Home/Menu")'" />
    </div>
</div>