@model Vapers_Club.Models.ViewModels.cListaProveedores
@{
    ViewBag.Title = "consultarProveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Proveedor</h2>
<br />
<br />

@Html.HiddenFor(model => model.id)

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.nombre)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.nombre)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.telefono)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.telefono)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.tipot)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.tipot)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.correo)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.correo)
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.tipoc)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.tipoc)
    </div>
</div>

<input type="button" value="Productos" class="btn btn-default btn-block btn-lg" onclick="document.location.href='@Url.Content("~/Proveedor/consultarproductos/"+Model.id)'"   />

<br />
<input type="button" value="Volver" class="btn btn-default btn-block btn-lg" onclick="document.location.href='@Url.Content("~/Proveedor/mantProveedor")'" />