@model Vapers_Club.Models.ViewModels.cListaEntrega
@{
    ViewBag.Title = "consultarEntrega";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Consultar Entrega</h2>
<br />
<br />

<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.id)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.id)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.fecha)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.fecha)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.prodnomb)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.prodnomb)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.estado)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.estado)
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.LabelFor(model => model.cantidad)
    </div>
    <div class="col-md-8">
        @Html.DisplayFor(model => model.cantidad)
    </div>
</div>

<br />
<input type="button" value="Volver" class="btn btn-default btn-block btn-lg" onclick="document.location.href='@Url.Content("~/Entrega/mantEntrega")'" />