@model Vapers_Club.Models.ViewModels.cActualizarCateg
@{
    ViewBag.Title = "actualizarCateg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualizar Categoría</h2>
<br />
<br />

@if (ViewBag.ValorMensaje == 1)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h2 class="modal-title">Mensaje</h2>
                </div>
                <div class="modal-body">
                    <div class="alert alert-success">@ViewBag.MensajeProceso</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}
else if (ViewBag.ValorMensaje == 0)
{
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Mensaje</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">@ViewBag.MensajeProceso</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("actualizarcateg", "Categoria", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <input type="submit" class="btn btn-success btn-block btn-lg" value="Actualizar Categoría" />
            <br />
            <input type="button" value="Volver" class="btn btn-default btn-block btn-lg" onclick="document.location.href='@Url.Content("~/Categoria/mantCateg")'" style="background-color: #00ADA7; color: #ffffff" />
        </div>
        <div class="col-md-8">
            @Html.HiddenFor(u => u.id)
            @Html.LabelFor(u => u.nombre)
            @Html.TextBoxFor(u => u.nombre, new { @class = "form-control" })
            @Html.ValidationMessage("nombre")
            <br /><br />
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $('#myModal').modal('show');
    </script>
}
